<!--  Cette page nous permet d'afficher un post-->
<style>
    .fixed-top {
        position: initial;
    }
  </style>
  <div class=" center mt-5" >
  <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
  <h2 class="fw-normal"><%= @post.title %></h2>
  <p><%= @post.content %></p>
  <p><%= @post.created_at %></p>
    <div class="btn-group"></div>
    <p>
<!--      On redirige vers la page d'accueil-->
      <a href="<%= posts_path %>" class="btn btn-primary">Revenir en arrière</a>
<!--      On redirige vers la page edit du post-->
      <a class="btn btn-primary" href="/posts/<%= @post.id %>/edit">Modifier</a>
    </p>
    <hr class="featurette-divider">
  </div><!-- /.col-lg-4 -->
